.product{
    max-height: 400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 5px;
    align-items: center;
    z-index: 1;
    width: 200px;
}

.product img{
    max-width: 200px;
    max-width: 200px;
}

.product__title{
    font-weight: bold;
    margin: 10px 0;
}

.product__price{
    font-weight: normal;
    margin: 10px 0;
}

.addButton{
    background-color: #febd69;
    color: #000;
    border: 1px solid #131921;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 8px;
    width: 100%;
}